.all_questions {
  position: absolute;
  top: 70%;
  left: 20%;
  right: 20%;
  height: 100%;
}

.all_questions .quizzes {
  margin-left: 5px;
  margin-bottom: 15px;
}

.submit_btn {
  margin-top: 5%;
  position: absolute;
  padding: 30px 20px;
  outline: none;
  border: #000;
  border-radius: 5px;
  cursor: pointer;
}

.all_questions .button_exit {
  background-color: #8f9e8c;
  margin-top: 5%;
  margin-left: 80%;
  position: absolute;
  padding: 50px 20px;
  outline: none;
  border: #000;
  border-radius: 5px;
}
